main{
    height: 650px;
    
}
section{
   
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 200px;
    width: 500px;
    height: 150px; 
}

.logos{
    width: 150px;
    height: 150px;
}
header{
    height: 120px;
    margin-bottom: 20px;
    background-color: rgb(226, 224, 224);
}
#logo{
    height: 100px;
}


div{
    
    margin: auto;
    text-align: center;
    margin-top: 50px
}